@import './base';
/* 修改总体的默认样式 */
html, body, button, input, select, textarea{
  font-family: Microsoft Yahei,Helvetica Neue,\\5B8B\4F53,Helvetica,Arial,sans-serif;
  // font-family: "Myriad Set Pro","Helvetica Neue","Microsoft YaHei",Helvetica,Arial,sans-serif;
}
html {
  font-size: 14px;
}
html,body {
  padding: 0px;
  margin: 0px;
  background: $bg-color;
  overflow-y: auto;
  // min-width: 1024px;
}
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */  
[class*='-enter-active'] {
  transition: all .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
[class*='-leave-active'] {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
/* 纵向移动 */
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}
/* 横向移动 */
.h-fade-enter, .h-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
a {
  color: $active-color;
}
input,textarea,.input,.textarea{
  &:focus,&.is-focused,&:active,&.is-active{
    outline: none;
    border-color: $active-color;
    &.is-danger{
      border-color: $red;
    }
  }
  /* 将输入框的提示内容颜色改为白色 */
  &.white:-moz-placeholder{
    color: white;
  }
  &.white:-ms-input-placeholder{
    color: white;
  }
  &.white::-webkit-input-placeholder{
    color: white;
  }
}
/*下拉框颜色选择*/
.select:after{
  border-color: $active-color;
  &:hover{
    border-color: $active-color-hover;
  }
}
/*下拉框颜色选择*/
.button,.button[disabled]{
  &.is-info,&.is-primary{
    background-color: $btn-bg;
    &:hover{
      background-color: $btn-bg;
      opacity: 0.85;
    }
  }
}

.tabs li.is-active a{
  border-bottom-color: $active-color;
  color: $active-color;
}

.tabs.is-toggle{
  ul{
    justify-content: center;
    li.is-active a{
      border-color: $active-color;
      background-color: $active-color;
    }
  }
}
.toSearch{
  cursor: pointer;
}
.card{
  margin: $base-padding $base-padding / 2 0;
  border-radius: $base-radius;
  .card-header{
    padding: $base-padding 0;
    box-shadow: 0 1px 0px rgba(10, 10, 10, 0.1);
    margin: 0 $base-padding;
    align-items: center;
    position: relative;
    .image img{
      border-radius: $base-radius;
    }
    .card-header-icon{
      min-width: 50px;
      padding: 0;
      color: $active-color-hover;
      font-weight: bold;
      &:hover{
        color: $active-color;
      }
    }
    .card-head-right{
      position: absolute;
      right: 20px;
    }
  }
  .card-content{
    padding: 1px 0 0;
  }
  .icon-title{
    height: 15px;
    width: 4px;
    background: $active-color;
    margin-right: 20px;
  }
}
/* 手机端适配 */
@media screen and (max-width: 768px){
  html,body,.tabs{
    font-size: 12px;
  }
  .tooltip--medium{
    &:before,&:after{
      display: none;
    }
  }
  .icon{
    margin-top: $base-padding / 4;
  }
  .card-footer-item{
    margin-left: 0 !important;
  }
  .keyword-card{
    .asm-th.asm-grow-1{
      flex-grow: 2 !important;
    }
    .left{
      padding-left: $base-padding * 2 !important;
    }
  }
  .all-app{
    .left{
      padding-left: 0 !important;
    }
  }
}

/* eleme 组件 */
.el-input__icon{
  font-size: 12px;
  width: 35px;
}
.el-input__inner{
  height: 36px;
  font-size: 14px;
  line-height: 30px;
}
.el-cascader__label{
  font-size: 14px;
  line-height: 38px;
}
.el-date-editor.el-input{
  width: 193px;
}
.el-date-editor--daterange.el-input{
  width: 250px;
}
.el-select .el-input .el-input__icon{
  font-size: 12px;
  line-height: 16px;
}
.el-date-range-picker .el-picker-panel__body {
  min-width: 513px;
}
.el-date-table {
  font-size: 12px;
  min-width: 224px;
}